*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    height: 300px;
     border: black solid 2px;
    background-color: antiquewhite;
    z-index: 7;
    position: relative;
}


nav {
    width: 200px;
    position: fixed;
    border: 2px solid black;
    background-color:aquamarine;
    z-index: 10;

}


main{
    border: 2px solid black;
    background-color:cadetblue;
    height: 1000px;
    z-index: 9;
    padding: 370px 30px 30px 30px;
    font-size: 30px;


}

aside{
    border: 2px solid black;
    background-color:burlywood;
    width: 200px;
    position: absolute;
    top: 300px;




}


footer{
    border: 2px solid black;
    background-color:brown;
    text-align:center;
    padding: 45px;
    height: 100px;
    width: 100%;
    position: fixed;
    bottom: 0;
}


li{
    display: inline-block;
    font-family: sans-serif;
    font-size: 10px;

}

.leftimg{
    float: left;
}

.rightimg{

    float: right;
}

p{
    margin-bottom: 10px;
}

aside div{
    height: 100px;
    width:155px;
    background-color: fuchsia;
    border: 2px dotted black;
    text-align: center;
    margin:auto;
    color: aliceblue;
    margin: 15px;
    font-size: 75px;

}
