h1 {
    color: grey;
    font-size: 55px;
    background-color: black;
    padding: 0;
    margin:0;


}

p {
    color:black;
    font-size: 12px;
    margin:0;
    padding: 0;
}

li {
    list-style-image: url(flower.jpg);
    list-style-position: inside;
    text-decoration: overline;
    color:deeppink;
    padding: 10px


}

body {
      background-color:burlywood;
}

.thanx {
    color: crimson;
    font-family:cursive;
    font-size: 40px;
    display: block
    text-align: center;

}
